* {
    box-sizing: border-box;
}

:root {
    --main-color: #0e1d39;
    --secondary-color: #f50055;
    --background: #d0e4e6;
}

html, body {
    margin: 0;
    background: var(--background);
    color: var(--secondary-color);
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.2rem;
}

button {
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trivia-wrapper {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0 1em;
    color: var(--main-color);
    text-shadow: 1px 1px 5px #003385;
}

.description {
    font-weight: lighter;
    text-shadow: 1px 1px 5px #003385;
    margin-bottom: 2em;
}

.play-btn {
    width: 150px;
    height: 40px;
    background-color: var(--main-color);
    color: #ddd;
    font-weight: bold;
    font-size: 1rem;
    border: none;
}

.play-btn:hover,
.play-btn:focus,
.check-btn:hover,
.check-btn:focus {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.question-wrapper {
    width: 90%;
    padding: 1em 0;
    display: grid;
    grid-template-rows: min-content 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    border-bottom: 1px solid #feaaff;
}

.question {
    grid-column: 1 / -1;
    margin: 0;
}

.question-wrapper button {
    height: 40px;
    border: 1px solid var(--main-color);
}

.answer {
    color: var(--main-color);
}

.answer:focus,
.answer:hover {
    background: #ccc;
}

.answer-clicked {
    color: #fff;
    background: var(--secondary-color);
    border-color: transparent;
}

.answer-correct {
    color: #fff;
    background-color: #afe0ac;
    border-color: transparent;
}

.answer-incorrect {
    color: #fff;
    background-color: #f97171;
    border-color: transparent;
}

.check-btn {
    background: var(--main-color);
    color: #fff;
    border: none;
    height: 40px;
    width: 150px;
    margin-top: 1em;
}